<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="parent-container">
        <div class="mainarea-left-item" data-cmd="google-finance">
            <span class="mainarea-left-item-icon">📊</span>
            <span class="mainarea-left-item-label">Market Today</span>
        </div>
        <div class="mainarea-left-item" data-cmd="system-status">
            <span class="mainarea-left-item-icon">🩺</span>
            <span class="mainarea-left-item-label">System Status</span>
        </div>

        <div class="mainarea-left-item" data-cmd="file-explorer">
            <span class="mainarea-left-item-icon">📁</span>
            <span class="mainarea-left-item-label">Your Computer</span>
        </div>

        <div class="mainarea-left-item" data-cmd="hub-config">
            <span class="mainarea-left-item-icon">⚙️</span>
            <span class="mainarea-left-item-label">Hub Settings</span>
        </div>

        <div class="mainarea-left-item" data-cmd="bash-or-cmd">
            <span class="mainarea-left-item-icon">💻</span>
            <span class="mainarea-left-item-label">Open terminal</span>
        </div>

        <div class="mainarea-left-item" data-cmd="logs-viewer">
            <span class="mainarea-left-item-icon">📜</span>
            <span class="mainarea-left-item-label">Blackbox</span>
        </div>

        <div class="mainarea-left-item" data-cmd="settings">
            <span class="mainarea-left-item-icon">🔧</span>
            <span class="mainarea-left-item-label">Device Settings</span>

        </div>
    </div>
    </div>
    </div>











</body>

</html>